*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,.wrapper, .columns{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: cornflowerblue;
    min-height: 100vh;

}



.wrapper{
    background-color: white;
    width: 440px;
    border-radius: 10px;
    padding: 30px 30px 38px ;
    flex-direction: column;
}
.alarm_img {
    max-width: 153px;
    margin: 5px 35px 5px 5px;
}
.wrapper h1{
    font-weight: 600;
    font-size: 40px;
    margin: 30px 0;
}
.wrapper p{
    font-size: 20px;
    font-weight: 500;
    margin: 1px 0 25px;
}

.wrapper .columns{
    
    justify-content: space-between;
    width: 100%;
}

#column.disable{
    opacity: 0.6;
    pointer-events: none;
}

.columns .content{
    border-radius: 10px;
    padding: 0 10px;
    border: 2px solid grey;
    width: calc(100%/3 - 5px);
    background-color: beige;
}
.content select{
    background-color: beige;
    font-weight: 500;
    outline: none;
    border: none;
    height: 45px;
    width: 100%;
    font-size: 15px;
}
.set_Alarm{
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid grey;
    background-color: azure;
}
.set_Alarm:hover{
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(199, 243, 243);
}
